<div id="new_items">
	<div class="col-xs-12">
		<h3 class="n_end_items_index_title_n">新着シングル・アルバム!!</h3>
	</div>
	<div class="row n_relative">
		<div class="col-xs-1 n_left">
			<%= link_to_prev_page @new_items, fa_icon("angle-double-left 5x"), param_name: :"new_page", remote: :true %>
		</div>
		<div class="col-xs-10">
			<div class="row">
				<ul>
					<%= render partial: "contents_of_each", collection: @new_items, as: :item %>
				</ul>
			</div>
		</div>
		<div class="col-xs-1  n_right">
			<%= link_to_next_page @new_items, fa_icon("angle-double-right 5x"), param_name: :"new_page", remote: :true %>
		</div>
	</div>
</div>