* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.y_item_content{
    width: 1000px;
    padding: 0 50px;
    margin: 0 auto;
}

.y_h2{
    text-align: center;
    font-size: 40px;
}

.y_h3{
    font-size: 30px;
    font-weight: bold;
}

/*index-------------------------- */
.y_item_content > p{
    margin: 0;
    text-align: right;
    font-weight: bold;
    font-size: 30px;
}

.y_search_item_stock, .y_search_item_condition{
    display: none;
}

/*-------------------------- */

/*search_form-------------------------- */

.y_search_form{
    padding: 0 25px;
    margin-bottom: 20px;
}

/*検索方法選択*/
.y_select {
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.y_select select {
    width: 1000px;
    padding-right: 1em;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}

.y_select select::-ms-expand {
    display: none;
}

.y_select.y_select_content {
    position: relative;
    border-radius: 2px;
    border: 4px solid #036eff;
    border-radius: 50px;
    background: #ffffff;
    vertical-align: top;
}

.y_select.y_select_content::before {
    position: absolute;
    top: 1.4em;
    right: 1.2em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #036eff;
    pointer-events: none;
}

.y_select.y_select_content select {
    padding: 8px 38px 8px 38px;
    color: black;
    font-size: 25px;
}

/*item_name_form*/
.y_search_text_field{
    font-size: 25px;
    width: 70%;
    padding: 0.3em;
    transition: 0.3s;
    letter-spacing: 1px;
    border: 2px solid #1b2538;
    border-radius: 4px;
    margin-left: 20px;
}

.y_search_button{
    width: 20%;
    height: 50px;
    display: inline-block;
    background-color: #26a69b;/*背景色*/
    color: #FFF;/*文字色*/
    font-size: 25px;/*文字サイズ*/
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.05em;/*字間*/
    padding: 0.2em 1em;/*ボタン内の余白*/
    border-radius: 3px;/*角の丸み*/
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);/*影*/
    -webkit-tap-highlight-color: transparent;
    transition: .3s ease-out;/*変化を緩やかに*/
    margin-left: 20px;
}

/*item_stock_form*/
.y_search_item_stock > div > .y_search_text_field{
    font-size: 25px;
    width: 20%;
    padding: 0.3em;
    transition: 0.3s;
    letter-spacing: 1px;
    border: 2px solid #1b2538;
    border-radius: 4px;
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
}

.y_search_item_stock > div > .y_select{
    width: 20%;
    display: inline-block;
    margin-left: 20px;
}

.y_search_item_stock > div> span{
    font-size: 25px;
    font-weight: bold;
    margin-left: 100px;
    bottom: 20px;
}

/*item_sale_condition*/
.y_search_radio_input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.y_search_radio_label {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    transition: all .2s;
    font-size: 25px;
    border: 3px solid black;
    margin-left: 20px;
    width: 25%;
    text-align: center;
}

.y_search_radio_input:checked + .y_search_radio_label {
    background: #B54A4A;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}

.y_search_radio_input:focus + .y_search_radio_label {
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}

.y_search_item_condition > span {
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
}

.y_start{
    margin-left: 100px;
}


/*-------------------------- */

/*item_table-------------------------- */

.y_item_table > tbody > tr > td > a >i{
    margin-top: 10px;
    background-color: #26a69b;
    border-radius: 3px;/*角の丸み*/
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);/*影*/
}

.y_item_table > tbody > tr > td >i{
    margin-top: 20px;
}

.y_item_table > tbody > tr > td {
    font-weight: bold;
}

.y_item_table > tbody > tr > td > p {
    margin-top: 20px;
}

.y_item_table > tbody > tr > td:nth-child(even) > p ,.y_item_table > tbody > tr > td:nth-child(1) > p{
    text-align: center;
}

.y_item_table > tbody > tr > th{
    text-align: center;
    background-color: deepskyblue;
}

.y_item_table > thead > tr > th, .y_item_table > thead > tr > td, .y_item_table > tbody > tr > th, .y_item_table > tbody > tr > td, .y_item_table > tfoot > tr > th, .y_item_table > tfoot > tr > td {
    border: 3px solid #333333 !important;
}

.y_item_table.table-hover tbody tr td:hover {
    background-color: #fb9692;
}

.y_item_table.table-hover tbody tr:hover {
    background-color: deepskyblue;
}
/*-------------------------- */

/*new-------------------------- */
.y_condition_form{
    margin-top: 40px;
}

/*registration_form-------------------------- */
.y_registration_radio_input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.y_registration_radio_label {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    transition: all .2s;
    font-size: 25px;
    border: 3px solid black;
    margin-left: 150px;
    width: 25%;
    text-align: center;
}

.y_registration_radio_input:checked + .y_registration_radio_label {
    background: #B54A4A;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}

.y_registration_radio_input:focus + .y_registration_radio_label {
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}

.y_registration_pulldown{
    display: inline-block;
    width: 40%;
    margin-left: 58px;
}
.y_registration_pulldown_label{
    margin-left: 300px;
}

.y_registration_pulldown_genre{
    margin-left: 45px;
    margin-top: 40px;
}


/*-------------------------- */

.btn-file {
    position: relative;
    overflow: hidden;
    margin-left: 150px;
    margin-top: 200px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
    width: 20%;
    height: 0;

}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.y_image_submit_btn{
    font-size: 35px;
    margin: 40px;
}

.y_upload_view{
    display: inline-block;
    margin-left: 40px;
    border: solid 2px black;
}

.y_image_upload{
    margin-top: 40px;
    margin-left: 40px;
}

.y_image_file_name{
    position: absolute;
    font-size: 25px;
    margin-top: 80px;
    margin-left: 80px;
}

.y_image_title{
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    margin-left: 40px;
}

.y_form_text_field{
    font-size: 25px;
    width: 70%;
    padding: 0.3em;
    transition: 0.3s;
    letter-spacing: 1px;
    border: 2px solid #1b2538;
    border-radius: 4px;
    margin-left: 20px;
}

.y_item_form, .y_artist_form, .y_price_form, .y_stock_form{
    margin-top: 40px;
    margin-left: 40px;
}

.y_form_submit{
    width: 0;
    margin-top: 80px;
    margin-left: 220px;
}

.y_item_form_submit{
    font-size: 30px;
}

.y_form_submit > .btn{
    font-size: 50px;
    width: 450px;
}

.y_price_form > input{
    width: 200px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.y_price_form > span, .y_price_form > div > span, .y_stock_form > span{
    font-size: 35px;
    font-weight: bold;
    margin-left: 40px;
}

.y_price_form > div {
    text-align: right;
    margin-top: 10px;
    border-top: solid 2px black;
}

.y_task_price{
    color: red;
}

.y_stock_form > input{
    width: 200px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.form-disc > span{
    font-size: 40px;
    font-weight: bold;
}

.form-disc{
    border-bottom: solid 3px blue;
    margin-left: 80px;
}

.y_music_form{
    position: relative;
}

.y_music_form > h3{
    margin-left: 40px;
    margin-top: 40px;
}

.discs > .nested-fields{
    margin-top: 40px;
}

.discs > .nested-fields:nth-child(1){
    margin-top: 0px;
}

.form-music > span{
    font-size: 40px;
    font-weight: bold;
}

.form-music{
    margin:5px 0 5px 120px;
}

.form-music > input{
    font-size: 25px;
    width: 70%;
    padding: 0.3em;
    transition: 0.3s;
    letter-spacing: 1px;
    border: 2px solid #1b2538;
    border-radius: 4px;
    margin-left: 20px;
}

.form-music > .btn{
    margin-left: 55px;
    margin-bottom: 6px;
    font-size: 30px;
}

.form-disc > .btn{
    margin-left: 495px;
    margin-bottom: 20px;
    font-size: 30px;
}

.form-disc > .btn{
    margin-left: 495px;
    margin-bottom: 20px;
    font-size: 30px;
}

.music > .links >  .btn{
    font-size: 30px;
}

.music > .links{
    text-align: center;
    margin-top: 20px;
}

.discs > .links >  .btn{
    font-size: 30px;
    position: absolute;
    top: 40px;
    left: 345px;
}

.y_sale_number > span{
    font-size: 35px;
    font-weight: bold;
}

.y_sale_number{
    border-top: solid 2px black;
    margin-top: 10px;
    margin-left: 40px;
    text-align: right;
}

/*-----------------------------------*/
.y_admin_user_content{
    width: 1000px;
    padding: 0 50px;
    margin: 0 auto;
}

.test{
    margin-left: 120px;
    width: 50%;
    text-align: center;
}

.y_search_user_name > h3{
    margin-left: 40px;
}

.y_admin_user_content > p{
    margin: 30px 0 0 0;
    text-align: right;
    font-weight: bold;
    font-size: 30px;
}

/*----------------------------------------------------------*/
.y_item_content > h3{
    color: red;
    text-align: center;
}

.y_cart_content > img{
    display: inline-block;
}

.y_cart_content{
    background-color: #d3eaff;
}

.y_cart_item{
    position: relative;
}

.y_cart_item_detail{
    position: absolute;
    top: 0;
    left: 200px;
    font-size: 25px;
    height: 200px;
    width: 700px;
    padding-left: 10px;
}

.y_cart_item_detail > div:nth-child(even){
    font-size: 25px;
    margin-left: 30px;
}

.y_cart_item_detail > div:nth-child(odd){
    font-size: 30px;
    font-weight: bold;
}

.y_cart_item_detail > div:nth-child(5){
    text-align: right;
    border-bottom: solid 3px black;
}

.y_cart_status{
    font-size: 30px;
    font-weight: bold;
    border-bottom: 3px black solid;
    margin-bottom: 40px;
    height: 60px;
}

.y_cart_delete{
    text-align: right;
}

.y_cart_counter_group{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.y_cart_counter_group > input{
    width: 70px;
}

.y_cart_counter_group > span{
    margin: 0 10px;
}

.y_cart_status_group{
    width: 590px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.y_cart_delete{
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 65px;
}

.y_cart_delete > a{
    width: 70px;
}

.y_cart_not_sale{
    margin-left: 210px;
    color: red;
}

.y_cart_sale{
    margin-left: 270px;
}

.y_cart_submit{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.y_cart_submit > input{
    text-align: center;
    font-size: 35px;
}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
.y_purchases_content{
    position: relative;
    width: 1000px;
    padding: 0 50px;
    font-size: 20px;
    margin-top: 40px;
    margin: 0 auto;
}

.y_purchases_main_content{
}

.y_purchases_sub_content{
    position: absolute;
    width: 300px;
    border: 2px solid black;
    padding: 20px;
    background-color: #ffe4fb;
    top: 0;
    left: 650px;
}


.y_purchases_detail{
    width: 550px;
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 40px;
}

.y_purchases_detail > image{
    display: inline-block;
}

.y_purchases_detail{
    position: relative;
    background-color: #ffe4fb;
}

.y_purchases_item_detail{
    position: absolute;
    top: 20px;
    left: 120px;
    width: 410px;
    padding-left: 10px;
    height: 100px;
    line-height: 35px;
}

.y_purchases_price{
    width: 190px;
    text-align: left;
    display: inline-block;
    color: red;
}

.y_purchases_quantity{
    width: 200px;
    text-align: center;
    display: inline-block;
    color: red;
}

.y_purchases_adress_detail{
    margin-top: 20px;
}

.y_purchases_adress_detail > p{
    font-size: 25px;
    font-weight: bold;
}

.y_purchases_address_select{
    width: 350px;
    display: inline-block;
    vertical-align: middle;
}

.y_purchases_address_select > select{
    width: 300px;
}

.y_purchases_address_add{
    width: 120px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

.y_purchases_adress_detail > div{
    margin-left: 10px;
}

.y_purchases_adress_detail > .y_purchases_address_display{
    margin-left: 20px;
}

.y_purchases_address_tel{
    width: 340px;
    display: inline-block;
    vertical-align: middle;
}

.y_purchases_address_edit{
    width: 120px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    margin-left: 10px;
}

.y_purchases_sub_content > select{
    width: 90%;
    margin-left: 10px;
    margin-bottom: 10px;
}

.y_purchases_sub_content > p{
    font-weight: bold;
}

.y_purchases_sub_price > div:nth-child(odd){
    margin-left: 10px;
    width: 100px;
    display: inline-block;
}

.y_purchases_sub_price > div:nth-child(even){
    width: 140px;
    display: inline-block;
    text-align: right;
}

.y_purchases_sub_total_price{
    border-top: solid 1px gray;
    padding-top: 5px;
    color: red;
}

.y_purchases_sub_total_price > div:nth-child(1){
    display: inline-block;
    width: 100px;
}

.y_purchases_sub_total_price > div:nth-child(2){
    display: inline-block;
    width: 150px;
    text-align: right;
}

.y_purchases_submit{
    text-align: center;
    margin-top: 20px;
}

.y_purchases_submit > input{
    font-size: 25px;
}

/*--------------------------------------------------------*/
.y_admin_header{
    width: 1000px;
    background: #a5ffac;
    padding: 10px;
    position: relative;
    margin: 0 auto;
}

.y_header_btn{
    font-size: 30px!important;
    width: 25%;
    height: 120px;
    padding-top: 40px!important;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); /*影*/
    -webkit-tap-highlight-color: transparent;
    transition: .3s ease-out; /*変化を緩やかに*/
}

y_header_btn_small{
    font-size: 20px!important;
    padding-top: 40px!important;
}

.y_btn2{
    position: absolute;
    top: 10px;
    left: 290px
}

.y_btn3{
    position: absolute;
    top: 10px;
    left: 580px;
}

.y_btn5{
    position: absolute;
    top: 22px;
    left: 870px;
    width: 120px;
}

.y_btn6{
    position: absolute;
    top: 84px;
    left: 870px;
    width: 120px;
}

.y_admin_user_i > a >i {
    margin-bottom: 10px;
    margin-left: 10px;
}

/*----------------------------------------------*/
.y_history_content{
    width: 1000px;
    padding: 0 50px;
    margin: 0 auto;
}

.y_history_content > p{
    margin: 0;
    text-align: right;
    font-weight: bold;
    font-size: 30px;
}

.y_history_search_btn{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.y_history_content > .y_history_search_btn > a{
    font-size: 35px;
}

.y_history_content > .y_history_search_btn > a:nth-child(n+1){
    margin-left: 30px;
}

a.btn.btn-light.y_btn_border {
    border: 3px solid;
}

.y_history_id, .y_history_sale_number, .y_history_id{
    text-align: center;
}

.y_history_tbody> tr > td > .btn{
    font-size: 20px;
}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.y_admin_purchase_detail_content{
    width: 1000px;
    padding: 0 50px;
    margin: 0 auto;
}

.y_admin_purchase_detail_content > h2{
    text-align: center;
}

.y_admin_purchase_create > div{
    font-size: 30px;
    display: inline-block;
    margin-top: 20px;
}

.y_admin_purchase_create > div:nth-child(1){
    width: 600px;
    padding-left: 325px;
}

.y_admin_purchase_create > div:nth-child(2){
    width: 290px;
    text-align: right;
    color: red;
}

.y_admin_purchase_id{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    width: 300px;
    padding-left: 20px;
    border-top: 3px solid;
    border-left: solid 3px;
    border-right: solid 3px;
    border-radius: 25px 0 0 0px;
}

.y_admin_purchase_detail_content_border{
    border: 5px double black;
    padding: 20px;
}

.y_admin_purchase_detail_main_content{
    position: relative;
    font-size: 25px;
}

.y_admin_purchase_detail_main_content_detail{
    position: absolute;
    top: 0;
    left: 220px;
    width: 630px;
}

.y_admin_purchase_detail_main_content_detail > p{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    border-bottom: solid 3px;
}

.y_admin_purchase_detail_main_content_detail_item{
    padding-left: 20px;
}

.y_admin_purchase_detail_main_content_detail_sale > div{
    display: inline-block;
}

.y_admin_purchase_detail_main_content_detail_sale > div:nth-child(1){
    width: 340px;
}

.y_admin_purchase_detail_main_content_detail_sale > div:nth-child(2){
    width: 280px;
    text-align: right;
    display: inline-block;
}

.y_admin_purchase_detail_main_content_detail_sale{
    border-bottom: solid 3px;
}

.y_bold{
    font-weight: bold;
}

.y_red{
    color: red;
}

.y_admin_purchase_detail_status_btn{
    position: absolute;
    top: -10px;
    left: 750px;
}

.y_admin_purchase_detail_status_btn > .btn{
    font-size: 25px;
}

.y_admin_purchase_detail_address > div:nth-child(-n+2){
    display: inline-block;
    margin-top: 10px;
}

.y_admin_purchase_detail_address > div:nth-child(1){
    width: 450px;
}

.y_admin_purchase_detail_address > div:nth-child(2){
    width: 390px;
    text-align: right;
}

.y_admin_purchase_detail_address > div:nth-child(4) {
    padding-left: 20px;
    border-bottom: solid 3px;
    margin-bottom: 20px;
}

.y_admin_purchase_detail_sub{
    position: relative;
    font-size: 25px;
}

.y_full_name{
    position: absolute;
    top: -60px;
    left: 270px;
    width: 600px;
    text-align: right;
}

/*---------------------------------*/
.y_paginate{
    text-align: center;
    margin-top: 20px;
}

.y_status_red{
    background-color: red;
    width: 100px;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.y_status_yellow{
    background-color: yellow;
    width: 100px;
    text-align: center;
    height: 50px;
    line-height: 50px;

}

.y_status_green{
    background-color: greenyellow;
    width: 100px;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.y_admin_user_edit_content{
    width: 1000px;
    margin: 20px auto 0 auto;
    padding: 10px;
    border: solid 2px #5CB85C;
    font-size: 30px;
}

.y_edit_row > .form-group > .form-control{
    font-size: 25px;
}

.y_end_users_edit_title{
    display: inline-block;
    margin-bottom: 30px;
    padding: 0 9px;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    background: #5CB85C;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.y_end_users_edit_submit > input {
    height: 80px;
    font-size: 30px;
}